# Python files
*.py
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Data files
data/Clean production/*
maps/areas_old.geojson
data/Fv_net_name_mapping.csv
data/data_names_mapping.csv
data/forsy_fv_net_mapping.csv
data/plants_underway.csv


# IDE specific files (optional but recommended)
.idea/
.vscode/
*.swp
*.swo
.DS_Store