body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.controls {
    text-align: center;
    margin: 0; /* Remove margin to avoid gap */
    padding: 10px; /* Add padding for spacing */
    background-color: #f0f0f0; /* Background color for better visibility */
    border-bottom: 1px solid #ccc; /* Border to separate from content */
    position: relative; /* Position relative for autocomplete */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start to prevent overlap */
    padding: 10px; /* Adjust padding to fit better */
}

.map {
    width: 60%; /* Adjust the width to fit better */
    height: 500px;
    margin: 0; /* Remove margin to avoid gap */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Add border for better visibility */
}

.plant-display {
    width: 35%;
    height: 500px; /* Ensure the display area has the same height as the map */
    padding: 10px; /* Adjust padding to fit better */
    border: 1px solid #ccc;
    overflow-y: auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: #2aadff; 
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.circle {
    fill: #ADD8E6; /* Light blue color for the circles */
    stroke: #000; /* Black border color */
    stroke-width: 0.5; /* Initial stroke width */
}

.map-path {
    fill: #d3d3d3; /* Light grey color for the map */
    stroke: #333; /* Dark grey stroke color */
    stroke-width: 0.1; /* Adjust the stroke width to make it smaller */
}

.area-path {
    fill: #2339de21; /* No fill for the areas */
    stroke: rgba(0, 0, 255, 0.139); /* Blue stroke color for the areas */
    stroke-width: 0.1; /* Stroke width for the areas */
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    opacity: 1;
}

.highlight { /* highlight for plant*/
    stroke: yellow; /* Highlight stroke color */
    stroke-width: 2px; /* Increase stroke width for highlighting */
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.special-area { /*fjernvarme under rekonstruktion */
    stroke: red; 
    stroke-width: 0.01;
    fill: #bebebe; 
}