body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    padding: 1vh 2vw;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.search-container {
    display: flex;
    flex: 1;
    max-width: 400px;
    position: relative;
}

#address {
    flex: 1;
    padding: 0.5vh 1vw;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

#search-button {
    padding: 0.5vh 1vw;
    font-size: 1em;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.custom-marker {
    width: 20px;
    height: 20px;
    background-color: rgb(38, 0, 255);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    flex: 1;
    width: 100%;
}

#map {
    flex: 1;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#graph-container {
    flex: 0.5;
    height: 100%;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    opacity: 1;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

.mapboxgl-popup {
    pointer-events: none;
}

.mapboxgl-popup-content {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.address-popup .mapboxgl-popup-content {
    padding: 5px;
    font-size: 12px;
    max-width: 200px;
}

.address-popup .popup-content h4 {
    margin: 0;
    font-size: 14px;
}

.address-popup .popup-content p {
    margin: 0;
    font-size: 12px;
}

#toggle-plants-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#toggle-plants-button:hover {
    background-color: #45a049;
}

.clear-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#clear-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#clear-button:hover {
    background-color: #ff1a1a;
}

#clear-button:active {
    background-color: #cc0000;
}

#clear-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.5);
}

#select-all {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#select-all:hover {
    background-color: #0056b3;
}

#select-all:active {
    background-color: #004080;
}

#select-all:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}